<?xml version="1.0"?>
<config>
    <modules>
        <Nikolakisae_GreekRegions>
            <version>0.1.2</version>
        </Nikolakisae_GreekRegions>
    </modules>
    <global>
        <resources>
            <greekregions_setup>
                <setup>
                    <module>Nikolakisae_GreekRegions</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </greekregions_setup>
            <greekregions_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </greekregions_write>
            <greekregions_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </greekregions_read>
        </resources>
    </global>
</config>