<?xml version="1.0"?>
<config>
    <modules>
        <Nikolakisae_ShippingLogo>
            <version>0.1.3</version>
        </Nikolakisae_ShippingLogo>
    </modules>
    <global>
        <models>
            <shippinglogo>
                <class>Nikolakisae_ShippingLogo_Model</class>
            </shippinglogo>
        </models>
        <blocks>
            <shippinglogo>
                <class>Nikolakisae_ShippingLogo_Block</class>
            </shippinglogo>
            <checkout>
                <rewrite>
                    <onepage_shipping_method_available>Nikolakisae_ShippingLogo_Block_Checkout_Onepage_Shipping_Method_Available</onepage_shipping_method_available>
                </rewrite>
            </checkout>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <shippinglogo>
                    <file>shippinglogo.xml</file>
                </shippinglogo>
            </updates>
        </layout>
    </frontend>
</config>